<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.sharklang.org/lang/Dd"
			class = "com.shark.lang.dd.DdPackage"
			genModel = "model/generated/Dd.genmodel" />
	</extension>
</plugin>
